

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

h1 {
  font-weight: 500;
  margin-top: 25px;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 40px;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.area {
  opacity: 0.7;
  clip-path: url(#clip);
}
.area:hover {
  opacity: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.states {
  stroke: #000;
  fill-opacity: .2;
}

.state.selected {
  fill: red;
  stroke: #000;
}

#legend {
  padding: 1.5em 0 0 1.5em;
}

li.key {
  border-top-width: 15px;
  border-top-style: solid;
  font-size: .75em;
  width: 10%;
  padding-left: 0;
  padding-right: 0;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 25px;
  padding: 2px;
  font-size: 12px;
  background: #FFFFE0;
  border: 1px;
  border-radius: 8px;
  pointer-events: none;
}


/* Legend Position Style */
.legend {
  position:absolute;
  left:800px;
  top:350px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.link {
  fill: none;
  stroke: blue;
  //stroke-width: .5px;
}

path.link {
  fill: none;
  stroke: grey;
  stroke-width: .5px;
}



/*----------------------------Nikunj CSS Starts------------------------*/
.node circle {    #header{
  fill: #fff;     margin:0;
  stroke: steelblue;      background-color: #ffccff;
  stroke-width: 1.5px;      padding: 9px;
}
.container{
  background-color: #f2f2f2;
}   }
.block_container{
  float: left;
.link {     width: 100%;
  fill: none;     margin-top: 20px;
  stroke: blue;   
  //stroke-width: .5px;   
}   }
.block_img{
path.link {     background-color: #fff;
  fill: none;   
  stroke: grey;   
  stroke-width: .5px;   
}   }
.block_img .header2{
  text-align: left;
  margin-bottom: 20px;
}
.block_img .header2 img{
  margin-right: 35px;
}
.truck_sales{
  float: left;
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
}
.truck_sales .truck_header{
  text-align: left;
  background-color: #66ffff;
  margin: 0 0 20px;
  padding: 10px;
}
.top_market{
  float: left;
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
}
.top_market .market_header{
  text-align: left;
  background-color: #66ffff;
  margin: 0 0 20px;
  padding: 10px;
}
.dealers_network{
  float: left;
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
}
.dealers_network .dealers_header{
  text-align: left;
  background-color: #66ffff;
  margin: 0 0 20px;
  padding: 10px;
}
/*----------------------------Nikunj CSS Ends------------------------*/




